.movie-Loader {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333;
}

.movie-details-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 100%;
  margin: 100px 50px;
}

.movie-details {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
  background: black;

  .movie-details-poster {
    height: 500px;
  }

  .movie-btn-trailer {
    width: 150px;
    border: none;
    height: 60px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
  }

  .right,
  .left {
    width: 49%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .right {
    flex-direction: column;
    color: white;
    text-align: center;
  }
  .movie-details-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    background: transparent;
    text-align: justify;
    height: 300px;
  }
}

@media screen and (max-width: 768px) {
  .movie-details {
    height: auto;
    justify-content: center;
    align-items: center;
    width: 100%;

    .movie-details-poster {
      height: 300px;
    }

    .movie-details-container {
      height: auto;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }
    .right {
      width: 100%;
    }
    .left {
      margin-bottom: 100px;
    }
  }
}
